/* RESET*/
*::after
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}

input, button, textarea{
    font: inherit;
}

/* VARIABLES*/

:root{
    /*FONTS*/
    --FF: "sans-serif";
    --FF-HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);

    /* COLORS*/
    --BGCOLOR: orange;
    --BGCOLOR-FADE: rgb(252, 220, 160);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #fff;
    --FONT-COLOR: #000;
    --BORDER-COLOR:#333;

    /*BORDERS*/
    --BORDERS: 1px solid var(--BORDER-COLOR);
}

/* UTILITY CLASSES */

.offscreen{
    position: absolute;
    left: -10000px;
}

.nowrap{
    white-space: nowrap;
}

.center{
    text-align: center;
}

/* GENERAL STYLES*/

html{
    scroll-behavior: smooth;
    font-family: var(--FF);
    font-size: var(--FS);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body{
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}
