p {
  margin: 5px;
}

a{
background-color:red;
padding 1px;
text-decoration:none;
text-align:center;
}

a:hover, a:active{
background-color:purple;
}

body{
background-image: url('programming.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
}
table,td,th{
border:1px solid black;
}

th{
text-align:left;
}

tr:nth-child(2){
color:purple;
}
tr:nth-child(odd){
color:green;
}