*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  max-width: 100vw;
  font-family: sans-serif;
}

header{
  border: 1px solid gray;
  height: 500px;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  border-radius: 10px;
}

.section{
  font-size: 20px;
}

img{
  margin-top: 20px;
}

.in{
  font-size: 25px;
}

input{
  font-size: 30px;
  margin-top: 20px;
  border-radius: 5px;
  border-color: lightgray;
  height: 50px;

}

.nav{
  list-style-type: none;
  text-align: left;
  margin-left: 60px;
  margin-top: 10px;

}

.nav li{
  display: inline-block;
}

.nav li a{
  text-decoration: none;
  color: blue;
  font-size: 15px;
}

.write{
  color: gray;
  margin-left: 16px;
  margin-top: 40px;
}

.dan{
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-left: 45px;
}

.dan li{
  display: inline-block;
}

.dan li a{
  text-decoration: none;
  color: blue;
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  .section{
    font-size: 10px;
    text-align: center;
  }
}
