*{
  box-sizing: border-box;
}
.header{
  text-align: center;
}

.nav{
  background: black;
  list-style-type: none;
}

.nav a{
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 12px 20px;
}
